<h1>Update user</h1>
<div class="form-container">
  <form (ngSubmit)="onSubmit(user)" #userForm="ngForm">
    <div class="heading-container">
     
    </div>
    
    <div *ngIf="user" class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="user.FirstName" required>
    </div>
    <div class="form-group">
      <label for="LastName">Last Name:</label>
      <input type="text" id="LastName" name="LastName" [(ngModel)]="user.LastName" required>
    </div>
    <div class="form-group">
      <label for="sex">Sex:</label>
      <select id="sex" name="sex" [(ngModel)]="user.Sex" required>
        <option value="">Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">Age:</label>
      <input type="number" id="age" name="age" [(ngModel)]="user.Age" required>
    </div>

    <button type="submit" [disabled]="userForm.invalid" class="update-button">Update User</button>
  </form>

  <div *ngIf="message">
    {{ message }}
  </div>
</div>
